<a href="https://colab.research.google.com/github/najerans/ejerciciospy/blob/main/Apuntes_python.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

### **Listas **

In [ ]:
lista_cursos = ['Python', 'Django', 'Flask', 'Ruby', 'Java']

primer_curso = lista_cursos [1]
print ('imprime elemento de indice 1')
print(primer_curso)

#actualizar un elemento

lista_cursos [4] = 'Rust'
print ('actualizar un elemento:')
print(lista_cursos)

#sublistas
# [start:end]

sub_lista = lista_cursos [0:3]
print ('sublistas:')
print (sub_lista)

#ultimos elementos de la lista
# [start:] OBTENEMOS ULTIMOS ELEMENTOS
# [:end] OBTENEMOS PRIMEROS ELEMENTOS
# [start:end:skip]

# LISTA CON SALTOS ( 2 EN 2)
sublist = lista_cursos[1:5:2]
print ("sublista con saltos")
print (sublist)


### *Modificar Listas*

In [ ]:
lista_cursos = ['Python', 'Django', 'Flask', 'Ruby', 'Java']
lista_cursos2 = ['Docker', 'Azure', 'C++']
#print (len(lista_cursos)) # Metodo len -- longitud de la lista

lista_cursos.append('Mongo DB') # Metodo append() añade al final de la lista
lista_cursos.append('C#')

#print (len(lista_cursos))
#print (lista_cursos)

lista_cursos.insert(1,'JavaScript') # Metodo insert dos parametros, incide y elemento a insertar
#print (lista_cursos)

lista_cursos.extend(lista_cursos2) # Metodo extend -- extender lista, parametro lista a añadir (lista2)
print (lista_cursos)

lista_cursos.remove('Django')# Metodo remove -- elimina elemento de la lista, parametro cadena a eliminar
print (lista_cursos)

del lista_cursos [-1] # Palabra reservada del -- elimina un elemento por indices
print (lista_cursos)

lista_cursos.clear() # Limpiar lista, metodo clear
print (lista_cursos)

### ***Metodos de listas***

In [ ]:

lista = [8,90,1,5,44,132,600,3,4]

lista.sort() # Metodo sort, ordena por default de menor a mayor
print (lista)

lista.sort(reverse=True) # Parametro reverse ordena de mayor a menor
print (lista)

#imprimir numero menor y numero mayor

lista.sort()
print (lista[0]) #max
print (lista[-1]) #min


# Usando max y min

print ('Usando MIN:',min(lista))
print ('Usando MAX:',max(lista))


# Buscando elementos, metodo IN -- NOT IN

print(10 not in lista) # 10 no se encuentra en la lista = TRUE
print(5 in lista) # 5 se encuentra en la lista = TRUE

### **INDEX**

In [ ]:
lista = [8,90,1,5,44,132,600,3,4]

print(5 in lista) # 5 se encuentra en la lista = TRUE

index = lista.index(5) # Retorna el PRIMER indice encontrado
print(index)

### **MATRICES**

In [ ]:
columna_a = [10,20,30,40]
columna_b = [30,40,50,60]

matriz = [columna_a, columna_b] # Matriz de 2 x 2

print (matriz)

print (matriz[0][0])
print (matriz[1][3])

[[10, 20, 30, 40], [30, 40, 50, 60]]
10
60

 Apuntes de python



*   Comentarios

In [ ]:
#comentario de una sola linea

"""comentario
multilinea"""

Manejo de cadenas:

```
# Esto tiene formato de código
```

In [ ]:
#String
titulo_curso = 'Curso python'
print(titulo_curso)
nombre_completo = "Norel Sánchez Nájera"
print(nombre_completo)
mensaje = '"Mensaje"'
print(mensaje)

Ejercicios operadores matematicos

In [ ]:
var_1 = 12
var_2 = 34
total = var_1 + var_2
print("total", total)

total 46

Listas y Tuplas

In [ ]:
cursos = ['Pyhton', 'Django', 'Flask']

#tuple genera tupla a partir de la lista
cursos_tupla = tuple(cursos)
print(type(cursos_tupla))
print(cursos_tupla)

niveles = ('Basico', 'Intermedio', 'Avanzado')

#list genera lista a partir de una tupla
niveles_lista = list(niveles)
print(niveles_lista)

Descomprimir

In [ ]:
numeros = (1, 2, 3, 4, 5, 6 ,7 ,8)

uno, dos, tres, cuatro, *resto_valores = numeros
uno, dos, tres, cuatro, *_ = numeros
# * denota listas, al encontrar un * es por que la variable es una lista
# _ omite valores restantes
print(resto_valores)

Funcion ZIP

In [ ]:
lista = [1, 2, 3, 4, 5]

tupla = (10, 20, 30, 40, 50)
#zip combina valores de lista y tupla

lista_dos = [100, 200, 300, 400, 500]
resultado = zip(lista, tupla, lista_dos)
resultado = tuple(resultado)
print(resultado)

In [ ]:
STRINGS

join y split

In [ ]:

lenguajes = 'Python-Ruby-Java-Rust C++ C'
#split, se pueden usar dos argumentos, el caracter para separar y el numero de veces para dividir la cadena
listado_lenguajes = lenguajes.split('-', 2)
print(listado_lenguajes)

#join generar un listado, el argumento insetra el caracter

lenguajes = ['Python', 'Ruby','Java','Rust', 'C++,', 'C']
string_lenguajes = '-'.join(lenguajes)
print(string_lenguajes)
print(type(string_lenguajes))